.jumbotron {
  padding-top: 6rem;
  background-image: linear-gradient(to top, #a8edea 0%, #fef0f5 100%);
}

#artikel {
  padding-top: 6rem;
  background-image: linear-gradient(to top, #e9defa 0%, #fbfcdb 38%, #a8edea 100%);
  border: 20px sollid #ebbba7;
}

#Profil {
  padding-top: 6rem;
  background-image: linear-gradient(to top, #fbfcdb 0%, #a8edea 100%);
}

#fitur {
  padding-top: 6rem;
  background-image: linear-gradient(to top, #e9defa 0%, #fbfcdb 100%);
  padding-bottom: 8rem;
}

footer {
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  border: 2px solid #3498db; /* Ganti #3498db dengan kode warna yang diinginkan */
  border-radius: 10px; /* Untuk memberikan sudut (border-radius) pada card */
}

#carda {
  display: flex;
  margin-inline: 1.5rem;
}

#cardac {
  width: 18rem;
  background-color: transparent;
  transition: background-color 0.3s;
  border: 20px sollid #ebbba7;
}

#cardac:hover {
  background-color: lightgray;
}

#cardac:hover #card-text,
#cardac:hover #card-title,
#cardac:hover #btncard {
  display: block;
}

#card-text,
#card-title,
#btncard {
  display: none;
}

#cardac {
  border: transparent;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  border: 5px solid #f18c61;
  border-radius: 10%;
}
#card-img {
  border: transparent;
  background-color: transparent;
}
#cards #cardsi {
  border: transparent;
  background-color: transparent;
}
img {
  display: flex;
}
.intro:hover .text {
  border-radius: 100%;
  border: 2px solid;
}

.intro:hover {
  background-color: #e3aaf0;
}

.intro {
  transition: background-color 0.3s;
}
.tautan:link {
  color: rgb(20, 17, 17);
  text-decoration: none;
}
a.tautan {
  color: rgb(20, 17, 17);
  text-decoration: none;
}
#materi {
  background-image: linear-gradient(to top, #a8edea 0%, #e9defa 100%);
}
